In [1]:
import numpy as np
import pandas as pd
import scipy
%matplotlib inline

In [2]:
df = pd.DataFrame({'a': [0, 1, 2, 3, 4], 'b': [5, 6, 7, 8, 9]})

In [3]:
### If I want to replace all the values of a column, I do this:
df2= df.copy()
values= [-3, 5, 0, -1, 9]
for n in range(len(values)):
    df2.a[n]= values[n]
df2

   a  b
0 -3  5
1  5  6
2  0  7
3 -1  8
4  9  9

In [4]:
## My question is: Why I can not do this?
df2= df.replace({'a': a[n]}, values[n] for n in range(len(values)))

SyntaxError: Generator expression must be parenthesized if not sole argument (<ipython-input-4-e74999e565d9>, line 2)